body{
    margin:0;
    background-image: url("img/background.jpg");
    background-repeat: no-repeat;
   background-size: cover;
   color:black;
   font-family: 'Gothic A1', sans-serif;
}

.container{
    background-color: rgb(255, 255, 255);
    min-height:100vh;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

h1{
text-align: center;
margin: 1rem;
padding: 1rem;
color:rgba(255, 131, 131, 0.555)
}

.tab-area{
    margin:15px;
    font-size: 1rem;
}

.tab{
    display: flex;
    justify-content: center;
}

.tab div{
    padding:1em;
}

#under_line{
    position:absolute;
    height:5px;
    background-color: pink;
    width:0px;
    left:100px;
    top:248px;
    padding:0px;
    transition: 0.5s;
}

.task{
    display:flex;
    justify-content: space-between;
   
}

.task-done{
    text-decoration:line-through;
    width: 100vh;
}

.tab div{
    cursor:pointer;
}

#input{
  height: 50px;
  background-color: #fff;
  border-top: 0;
  border-left: 0;
  border-right:0;
  border-bottom: 3px solid #000000;
  width:400px;
  margin: 10px;
  margin-left:50px; 
}

#input:focus{
    outline: none;
}

#Add_bt{
    background-color: #fff;
outline: 0;
border:0;

}

.input-area{
    display: flex;
    justify-content: center;
}

.check_bt{
    background-color: #fff;
    margin: 10px;
    border:0;
    outline: 0;
    text-align: first;
}

.delete_bt{
    background-color: #fff;
    margin: 10px;
    border:0;
    outline: 0;
    flex-direction: start;
}